body {
    color: #cccccc;
    background-color: #181818;
}
h1 {
    border-bottom: 1px solid #454545;
    padding-bottom: 12px;
    margin-right: 0px;
}
hr {
    border-top: 1px solid #454545;
}
div.header {
    background-image: unset;
    background-color: #181818;
    border-bottom: 1px solid #454545;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
div.headertitle {
    padding-left: 0px;
}
div.contents {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 960px;
}
h2.groupheader {
    color: unset;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #454545;
}
tr.heading h2 {
    margin-left: -4px;
    margin-bottom: -1px;
    padding-right: 5px;
}
.title {
    font-size: 200%;
    margin-left: unset;
}

td {
    padding-left: 4px;
}
td.memname {
    padding-left: unset;
}

@media (max-width:1280px) {
    div.contents {
        width: 720px;
    }
}
@media (max-width:1080px) {
    div.contents {
        width: 560px;
    }
}

a {
    color: #4daafc;
}
.contents a:visited {
    color: #4daafc;
}
.alphachar a {
    color: unset;
}

#projectname {
    font-family: Roboto,sans-serif;
}
#titlearea {
    background-color: #181818;
    border-bottom: 1px solid #454545;
    padding-right: 5px;
}
#nav-tree {
    background-color: #181818;
}
#nav-tree .item {
    margin-left: 4px;
}
#nav-tree .label {
    font-family: Roboto,sans-serif;
}
#nav-tree .label a {
    color: unset;
}
#nav-tree .selected {
    background-image: unset;
    background-color: #2a2d2e;
}
#nav-tree .selected a {
    color: unset;
}
.ui-resizable-e {
    background-image: unset;
    border-right: 1px solid #454545;
    width: 8px;
}
.arrow {
    color: #cccccc;
}
a:hover > span.arrow {
    background : #2a2d2e;
}
#nav-tree .selected .arrow {
    color: unset;
}

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight {
    color: unset;
    background-color: #1f1f1f;
}

.compoundTemplParams, .memtemplate {
	color: #8f8f8f;
}
.paramname em {
    color: unset;
}
.memSeparator {
    border-bottom: 1px solid #454545;
    line-height: 0px;
}
.memItemLeft {
    padding-top: 8px;
}
.memItemRight {
    padding-top: 8px;
    font-weight: unset;
}
.memTemplParams {
	color: #8f8f8f;
	background-color: #1f1f1f;
	padding-top: 8px;
}
.mdescRight {
    color: #8f8f8f;
}
.mdescLeft, .mdescRight {
    padding-bottom: 8px;
}
.memItemLeft a.el, .memItemLeft a.elRef, .memItemRight a.el, .memItemRight a.elRef, .memTemplItemLeft a.el, .memTemplItemRight a.el {
    color: unset;
    font-weight: unset;
}

.memtitle {
    background-image: unset;
    background-color: #202020;
    border-top: 1px solid #454545;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 4px;
    font-weight: bold;
}
.memproto {
    color: unset;
    background-color: #202020;
    border-top: 1px solid #454545;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
    border-top-right-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.memname {
    margin-left: 16px;
}
.memtemplate {
	margin-left: 18px;
}
.memname a.el, .memname a.elRef {
    color: unset;
    font-weight: unset;
}
.memdoc {
    background-image: unset;
    background-color: #202020;
    border-left: 1px solid #454545;
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
}
.memdoc a.el, .memdoc a.elRef {
    color: unset;
}

.navpath ul {
    background-image: unset;
    background-color: #202020;
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    border-top: 1px solid #454545;
}
.navpath li, .navpath li.navelem a {
    color: unset;
}
.navpath li.footer, li.footer a {
    color: #8f8f8f;
}

div.directory {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
}
.directory tr.even {
    background-color: #1f1f1f;
}
.directory tr.odd {
    background-color: #181818;
}

.classindex dl.even {
    background-color: #1f1f1f;
}
.classindex dl.odd {
    background-color: #181818;
}

table.fieldtable {
    border: 1px solid #454545;
}
.fieldtable th {
    color: unset;
    font-weight: bold;
    background-image: unset;
    background-color: #2b2b2b;
    border-bottom: 1px solid #454545;
}
.fieldtable td, .fieldtable th, .fieldtable td.fieldname {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.fieldtable td.fieldtype, .fieldtable td.fieldname {
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
}
.fieldtable td.fielddoc {
    border-bottom: 1px solid #454545;
}

.fragment {
    color: unset;
    background-color: #2b2b2b;
    border: 1px solid #313131;
}
span.keywordtype {
    color: #569cd6;
}
span.keywordflow {
    color: #c586c0;
}
span.stringliteral {
    color: #ce9178;
}

code {
    background-color: #2b2b2b;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
}
th.markdownTableHeadLeft, th.markdownTableHeadRight, th.markdownTableHeadCenter, th.markdownTableHeadNone {
    background-color: #2b2b2b;
    color: unset;
}
table.markdownTable td, table.markdownTable th {
    border: 1px solid #313131;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
}

span.mlabel {
    background-color: #2b2b2b;
    border: 1px solid #313131;
    font-size: 10px;
    margin-right: 8px;
}

#nav-sync {
  right: 8px;
}
#MSearchBox {
    background: #242424;
    border-radius: 8px;
    box-shadow: unset;
    border: 1px solid #313131;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 16px;
}
#MSearchBox .left {
    height: 24px;
}
#MSearchField {
    width: 144px;
}
#MSearchSelectWindow, #MSearchResultsWindow {
    border: 1px solid #313131;
    background-color: #222222;
}
div.SRPage {
  background-color: #222222;
}
.SRSymbol {
    color: #4daafc;
}
a.SelectItem {
    color: unset;
}
a.SelectItem:hover {
    background-color: #2b2b2b;
}

dl.note, dl.remark {
    background: #00b0ff33;
    border-left: 4px solid #00b0ff;
    color: unset;
}
dl.note dt, dl.remark dt {
    color: unset;
}

dl.warning, dl.attention {
    background: #ff910033;
    border-left: 4px solid #ff9100;
    color: unset;
}
dl.warning dt, dl.attention dt {
    color: unset;
}

dl.todo {
    background: #00bfa533;
    border-left: 4px solid #00bfa5;
    color: unset;
}
dl.todo dt {
    color: unset;
}